IOT2Homeassistant/OldAcerFairplayDesktopflows.json
[{"id":"104cf10a3c4dbdb9","type":"tab","label":"Test","disabled":false,"info":"","env":[]},{"id":"eb5b5392bbffa827","type":"tab","label":"Publish Temperature","disabled":false,"info":"","env":[]},{"id":"7824d8a5d8c26a85","type":"tab","label":"MQTT","disabled":false,"info":"","env":[]},{"id":"64e7fb69d9a84812","type":"tab","label":"Email","disabled":false,"info":"","env":[]},{"id":"2f1e41c5.19c21e","type":"tab","label":"Rhasspy Example Flow 1","disabled":true,"info":""},{"id":"7aac5919e3c180d8","type":"tab","label":"Switch Example","disabled":true,"info":"","env":[]},{"id":"85ed41d1b523eda1","type":"subflow","name":"Notification","info":"Hi!","category":"","in":[{"x":40,"y":40,"wires":[{"id":"b43de5f2819711c2"}]}],"out":[],"env":[{"name":"title","type":"str","value":"","ui":{"icon":"font-awesome/fa-header","type":"input","opts":{"types":["str"]}}},{"name":"message","type":"str","value":"","ui":{"icon":"font-awesome/fa-envelope-o","type":"input","opts":{"types":["str"]}}},{"name":"user","type":"str","value":"","ui":{"icon":"font-awesome/fa-users","type":"input","opts":{"types":["str"]}}},{"name":"critical?","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-warning","type":"input","opts":{"types":["bool"]}}},{"name":"location","type":"bool","value":"false","ui":{"icon":"font-awesome/fa-location-arrow","type":"input","opts":{"types":["bool"]}}}],"meta":{"module":"homeassistant-notification","author":"Toppe <toppe@toppe.nl>","license":"Apache-2.0"},"color":"#3FADB5","inputLabels":["Connect to node that start notification"],"icon":"font-awesome/fa-mobile-phone"},{"id":"f5ae54f9.da1538","type":"server","name":"Home Assistant","version":2,"addon":true,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"1d523c9b04aaa68e","type":"server","name":"Home Assistant","version":2,"addon":false,"rejectUnauthorizedCerts":true,"ha_boolean":"y|yes|true|on|home|open","connectionDelay":true,"cacheJson":true,"heartbeat":false,"heartbeatInterval":"30"},{"id":"c58cffc551afbb3b","type":"mqtt-broker","name":"","broker":"192.168.1.114","port":"1883","clientid":"","autoConnect":true,"usetls":false,"protocolVersion":"4","keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","birthMsg":{},"closeTopic":"","closeQos":"0","closePayload":"","closeMsg":{},"willTopic":"","willQos":"0","willPayload":"","willMsg":{},"sessionExpiry":""},{"id":"2d2d75eaf2abe37a","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#cfe90c","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#cfe90c","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#e2f64c","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#cfe90c","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey","palette":"light"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"63453288.fa038c","type":"websocket-listener","path":"ws://localhost:12101/api/events/intent","wholemsg":"true"},{"id":"5a5d26f88b8ad3d4","type":"api-call-service","z":"85ed41d1b523eda1","name":"","server":"1d523c9b04aaa68e","version":5,"debugenabled":false,"domain":"notify","service":"","areaId":[],"deviceId":[],"entityId":[],"data":"","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":330,"y":40,"wires":[[]]},{"id":"b43de5f2819711c2","type":"function","z":"85ed41d1b523eda1","name":"Get env","func":"//Get environment variables\n//Get all the environment variables \nmsg.title = env.get(\"title\");\nmsg.message = env.get(\"message\");\nmsg.receiver = env.get(\"user\");\nmsg.critical = env.get(\"critical?\");\nmsg.locationupdate = env.get(\"location\");\n\n//Check if all loggedin devices should recieve notification\n//Groups can be created in the configuration.yaml file of HA\nif(msg.receiver == 'all'){\n    msg.receiver = 'notify'\n} else if(msg.receiver == 'USER GROUP'){\n    msg.receiver = 'ALL_DEVICES'\n}\n\n//Check if input requested a location update\nif(msg.locationupdate){ msg.message = 'request_location_update' }\n\n//Check if input requested a critical notification \nif(msg.critical) { msg.setCritical = 1 } else { msg.setCritical = 0 }\n\n//Check if msg.payload has content. If so, ignore msg.message\nif(msg.payload) { msg.message = msg.payload }\n\n    msg.payload = {\n        data :{ \n        title : msg.title,\n        message : msg.message,\n        data: {\n            push: {\n                sound: {\n                    name: 'default',\n                    critical: msg.setCritical,\n                    volume: 1\n                }\n            }\n        }\n    },\n        service : msg.receiver\n    }\n\n\n\n//Return payload\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":160,"y":40,"wires":[["5a5d26f88b8ad3d4"]]},{"id":"39942cc2dc8d0e5a","type":"ha-entity","z":"104cf10a3c4dbdb9","name":"sensor.nodered_test","server":"f5ae54f9.da1538","version":2,"debugenabled":false,"outputs":1,"entityType":"sensor","config":[{"property":"name","value":""},{"property":"device_class","value":""},{"property":"icon","value":""},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":false,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":120,"y":100,"wires":[[]]},{"id":"825ae1070e8b1728","type":"api-current-state","z":"104cf10a3c4dbdb9","name":"","server":"f5ae54f9.da1538","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.nodered_66e25ed6b977ce25","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":250,"y":60,"wires":[["3fef4001eec3bd3a"]]},{"id":"3fef4001eec3bd3a","type":"debug","z":"104cf10a3c4dbdb9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":350,"y":120,"wires":[]},{"id":"86e1fff4353fe2c3","type":"inject","z":"104cf10a3c4dbdb9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":20,"wires":[["825ae1070e8b1728"]]},{"id":"86863b6a8bd3fcaa","type":"switch","z":"104cf10a3c4dbdb9","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"red","vt":"str"},{"t":"eq","v":"green","vt":"str"},{"t":"eq","v":"blue","vt":"str"},{"t":"eq","v":"","vt":"str"},{"t":"eq","v":"violet","vt":"str"},{"t":"eq","v":"yellow","vt":"str"},{"t":"eq","v":"warm white","vt":"str"},{"t":"eq","v":"cool white","vt":"str"},{"t":"eq","v":"whitefifty","vt":"str"},{"t":"eq","v":"white","vt":"str"}],"checkall":"true","repair":false,"outputs":10,"x":410,"y":240,"wires":[[],[],[],[],[],[],[],[],[],[]]},{"id":"e6585ceb8f3d6774","type":"server-state-changed","z":"104cf10a3c4dbdb9","name":"","server":"f5ae54f9.da1538","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"light.tuya_bedroom","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"red","valueType":"str"},{"property":"data","propertyType":"msg","value":"green","valueType":"str"},{"property":"topic","propertyType":"msg","value":"blue","valueType":"str"}],"x":160,"y":240,"wires":[["86863b6a8bd3fcaa"]]},{"id":"27b1c599969dae48","type":"inject","z":"104cf10a3c4dbdb9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":100,"y":360,"wires":[["82343009ea046efc"]]},{"id":"82343009ea046efc","type":"api-current-state","z":"104cf10a3c4dbdb9","name":"light bedroom","server":"f5ae54f9.da1538","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"light.tuya_bedroom","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":260,"y":360,"wires":[["3fef4001eec3bd3a"]]},{"id":"56fd993d3fdc85bf","type":"http request","z":"104cf10a3c4dbdb9","name":"","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.212:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":250,"y":420,"wires":[["ad1d99107ab4a5d8"]]},{"id":"fbddbe68b186d53f","type":"inject","z":"104cf10a3c4dbdb9","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"\"Hello World\"","payloadType":"str","x":90,"y":420,"wires":[["56fd993d3fdc85bf"]]},{"id":"ad1d99107ab4a5d8","type":"debug","z":"104cf10a3c4dbdb9","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":470,"y":420,"wires":[]},{"id":"c69374a5fb6537c3","type":"server-state-changed","z":"eb5b5392bbffa827","name":"","server":"f5ae54f9.da1538","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sensor.test_temperature","entityidfiltertype":"exact","outputinitially":false,"state_type":"num","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":160,"y":60,"wires":[["568ae61588716727"]]},{"id":"fd611437a90e3c43","type":"api-call-service","z":"eb5b5392bbffa827","name":"","server":"f5ae54f9.da1538","version":5,"debugenabled":false,"domain":"mqtt","service":"publish","areaId":[],"deviceId":[],"entityId":[],"data":"{\"topic\":\"sample\",\"payload_template\":'{ \"currtemp\": {{ states.sensor.test_temperature.state }} }'}","dataType":"jsonata","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":230,"y":180,"wires":[[]]},{"id":"568ae61588716727","type":"api-current-state","z":"eb5b5392bbffa827","name":"","server":"f5ae54f9.da1538","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.test_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":230,"y":120,"wires":[["fd611437a90e3c43"]]},{"id":"fb12a71f1a8cd190","type":"mqtt in","z":"7824d8a5d8c26a85","name":"","topic":"lights","qos":"0","datatype":"auto","broker":"c58cffc551afbb3b","nl":false,"rap":true,"rh":0,"inputs":0,"x":90,"y":20,"wires":[[]]},{"id":"ed7d29ba82213947","type":"debug","z":"7824d8a5d8c26a85","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":290,"y":20,"wires":[]},{"id":"25a73ed9f47753da","type":"inject","z":"7824d8a5d8c26a85","name":"ON","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":80,"wires":[["f0b9e5d8c51adfbd"]]},{"id":"f0b9e5d8c51adfbd","type":"mqtt out","z":"7824d8a5d8c26a85","name":"","topic":"cmnd/rfbridge/Rfkey1","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c58cffc551afbb3b","x":320,"y":80,"wires":[]},{"id":"357ddec0f61bb2da","type":"inject","z":"7824d8a5d8c26a85","name":"OFF","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":90,"y":140,"wires":[["ab8ac8c3f9b78dfa"]]},{"id":"ab8ac8c3f9b78dfa","type":"mqtt out","z":"7824d8a5d8c26a85","name":"","topic":"cmnd/rfbridge/Rfkey2","qos":"","retain":"","respTopic":"","contentType":"","userProps":"","correl":"","expiry":"","broker":"c58cffc551afbb3b","x":320,"y":140,"wires":[]},{"id":"76602aaf341bb95a","type":"server-state-changed","z":"64e7fb69d9a84812","name":"","server":"f5ae54f9.da1538","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"sun.sun","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"\"The sun state has changed\"","valueType":"str"},{"property":"topic","propertyType":"msg","value":"","valueType":"entityState"}],"x":100,"y":60,"wires":[["7e277225f05c8b64","961a4a437cfc0e3e"]]},{"id":"05066ba45bc09f1f","type":"api-current-state","z":"64e7fb69d9a84812","name":"","server":"f5ae54f9.da1538","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sun.sun","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"\"The Sun State has changed\"","valueType":"str"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":380,"y":260,"wires":[["e5114d5976d819fb"]]},{"id":"961a4a437cfc0e3e","type":"e-mail","z":"64e7fb69d9a84812","server":"smtp.gmail.com","port":"465","secure":true,"tls":false,"name":"brenner.anne@gmail.com","dname":"","x":450,"y":200,"wires":[]},{"id":"7e277225f05c8b64","type":"debug","z":"64e7fb69d9a84812","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":80,"wires":[]},{"id":"7adb274115e681f1","type":"inject","z":"64e7fb69d9a84812","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"This is a test in the topic","payload":"This is the payload in the message","payloadType":"str","x":170,"y":220,"wires":[["961a4a437cfc0e3e"]]},{"id":"f2d7aeb1cbb372f8","type":"inject","z":"64e7fb69d9a84812","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"This is a test in the topic","payload":"This is the payload in the message","payloadType":"str","x":170,"y":280,"wires":[["05066ba45bc09f1f"]]},{"id":"e5114d5976d819fb","type":"debug","z":"64e7fb69d9a84812","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":390,"y":340,"wires":[]},{"id":"5b0fc170.50ca98","type":"websocket in","z":"2f1e41c5.19c21e","name":"rhasspy","server":"63453288.fa038c","client":"","x":70,"y":20,"wires":[["7ed528d3.d8a79","19c43cb6.6e805b"]]},{"id":"7ed528d3.d8a79","type":"switch","z":"2f1e41c5.19c21e","name":"intent filter","property":"intent.name","propertyType":"msg","rules":[{"t":"eq","v":"ChangeLightState","vt":"str"},{"t":"eq","v":"HA_Temperature","vt":"str"}],"checkall":"false","repair":false,"outputs":2,"x":90,"y":80,"wires":[["3fd24b1102adf95e"],["486a2599e5e58bae","19c43cb6.6e805b"]]},{"id":"1cf9bec4.4449d1","type":"http request","z":"2f1e41c5.19c21e","name":"text to speech","method":"POST","ret":"txt","paytoqs":"ignore","url":"http://192.168.1.249:12101/api/text-to-speech","tls":"","persist":false,"proxy":"","authType":"basic","senderr":false,"x":540,"y":280,"wires":[[]]},{"id":"19c43cb6.6e805b","type":"debug","z":"2f1e41c5.19c21e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":40,"wires":[]},{"id":"3fd24b1102adf95e","type":"template","z":"2f1e41c5.19c21e","name":"Lights","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"Action: {{slots.state}} Location: {{ slots.name }}","output":"str","x":250,"y":40,"wires":[["19c43cb6.6e805b"]]},{"id":"5b2489ca5e05de89","type":"api-current-state","z":"2f1e41c5.19c21e","name":"Temperature","server":"f5ae54f9.da1538","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.test_temperature","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":290,"y":100,"wires":[["94912489856087e8"]]},{"id":"94912489856087e8","type":"change","z":"2f1e41c5.19c21e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"temperature  \" & payload & \"  degrees Farenheit\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":160,"wires":[["85117c35c8e67013"]]},{"id":"85117c35c8e67013","type":"join","z":"2f1e41c5.19c21e","name":"","mode":"custom","build":"string","property":"payload","propertyType":"msg","key":"topic","joiner":"\"   \"","joinerType":"str","accumulate":false,"timeout":"","count":"2","reduceRight":false,"reduceExp":"","reduceInit":"","reduceInitType":"num","reduceFixup":"","x":470,"y":200,"wires":[["1cf9bec4.4449d1","0167698c1d29cb02"]]},{"id":"21442174f6fe8c3d","type":"api-current-state","z":"2f1e41c5.19c21e","name":"Humidity","server":"f5ae54f9.da1538","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"sensor.test_humidity","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"}],"for":0,"forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":300,"y":200,"wires":[["f3c461ec80901360"]]},{"id":"f3c461ec80901360","type":"change","z":"2f1e41c5.19c21e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"\"humidity \" & payload & \"  percent\"","tot":"jsonata"}],"action":"","property":"","from":"","to":"","reg":false,"x":320,"y":280,"wires":[["85117c35c8e67013"]]},{"id":"486a2599e5e58bae","type":"template","z":"2f1e41c5.19c21e","name":"TempHumid","field":"payload","fieldType":"msg","format":"handlebars","syntax":"mustache","template":"{{ slots.location }}","output":"str","x":90,"y":140,"wires":[["834381c46fdcc7a2"]]},{"id":"0167698c1d29cb02","type":"debug","z":"2f1e41c5.19c21e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":530,"y":140,"wires":[]},{"id":"834381c46fdcc7a2","type":"function","z":"2f1e41c5.19c21e","name":"Location Splitter","func":"var payload=msg.payload\nif (payload==\"bedroom\"){\n    return [msg,null];\n}\nif (payload==\"\"){\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":200,"wires":[["5b2489ca5e05de89","21442174f6fe8c3d"],["819d729bb825381f"]]},{"id":"2992c91d1ba1e6b3","type":"debug","z":"2f1e41c5.19c21e","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":310,"y":360,"wires":[]},{"id":"819d729bb825381f","type":"change","z":"2f1e41c5.19c21e","name":"","rules":[{"t":"set","p":"payload","pt":"msg","to":"No location specified","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":100,"y":360,"wires":[["2992c91d1ba1e6b3"]]},{"id":"97d6731c3ed29a4b","type":"server-state-changed","z":"7aac5919e3c180d8","name":"Guest West","server":"f5ae54f9.da1538","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.nodered_66e25ed6b977ce25","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":90,"y":100,"wires":[["e876db3878aaa42c"]]},{"id":"e876db3878aaa42c","type":"switch","z":"7aac5919e3c180d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":90,"y":180,"wires":[["a2fc4bf6ee5f5fc9"],["c51c95a8f362de55"]]},{"id":"66e25ed6b977ce25","type":"ha-entity","z":"7aac5919e3c180d8","name":"Guest West","server":"f5ae54f9.da1538","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Guest West"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:lamp"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":90,"y":40,"wires":[[],[]]},{"id":"3e3d58f11f85c252","type":"api-call-service","z":"7aac5919e3c180d8","name":"Switch State to On","server":"f5ae54f9.da1538","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.nodered_66e25ed6b977ce25"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":570,"y":340,"wires":[[]]},{"id":"53e8793aa682c650","type":"mqtt in","z":"7aac5919e3c180d8","name":"","topic":"lights","qos":"0","datatype":"auto","broker":"c58cffc551afbb3b","nl":false,"rap":true,"rh":0,"inputs":0,"x":70,"y":280,"wires":[["fee9e8f8499a2c4a"]]},{"id":"fee9e8f8499a2c4a","type":"function","z":"7aac5919e3c180d8","name":"On-Off Splitter","func":"var payload=msg.payload\nif (payload==\"Second Bedroom West Turned ON\"){\n    return [msg,null,null,null];\n}\nif (payload==\"Second Bedroom West Turned OFF\"){\n    return [null,msg,null,null];\n}\nif (payload==\"Second Bedroom East Turned ON\"){\n    return [null,null,msg,null];\n}\nif (payload==\"Second Bedroom East Turned OFF\"){\n    return [null,null,null,msg];\n}","outputs":4,"noerr":0,"initialize":"","finalize":"","libs":[],"x":100,"y":400,"wires":[["9f0785686a461ea4"],["d9109b5441fc7589"],["38f1338df4295073"],["7792cdfed8a25450"]]},{"id":"9f0785686a461ea4","type":"api-current-state","z":"7aac5919e3c180d8","name":"Current State West","server":"f5ae54f9.da1538","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.nodered_66e25ed6b977ce25","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":280,"wires":[["5c034d6462ed0051"]]},{"id":"d9109b5441fc7589","type":"api-current-state","z":"7aac5919e3c180d8","name":"Current State West","server":"f5ae54f9.da1538","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.nodered_66e25ed6b977ce25","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":360,"wires":[["3c728a31adb9926d"]]},{"id":"5c034d6462ed0051","type":"switch","z":"7aac5919e3c180d8","name":"state is off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":260,"wires":[["3e3d58f11f85c252"]]},{"id":"3c728a31adb9926d","type":"switch","z":"7aac5919e3c180d8","name":"state is on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":530,"y":400,"wires":[["c344545b3e7226e5"]]},{"id":"c344545b3e7226e5","type":"api-call-service","z":"7aac5919e3c180d8","name":"Switch State to Off","server":"f5ae54f9.da1538","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.nodered_66e25ed6b977ce25"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":460,"wires":[[]]},{"id":"b3df745c5e339837","type":"http request","z":"7aac5919e3c180d8","name":"Turn On","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://anne:YE2-5192@192.168.1.163/secure/lights.php?SecondWest=ON","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":420,"y":160,"wires":[[]]},{"id":"eee18beb8ce08a81","type":"http request","z":"7aac5919e3c180d8","name":"Turn Off","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://anne:YE2-5192@192.168.1.163/secure/lights.php?SecondWest=OFF","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":420,"y":200,"wires":[[]]},{"id":"22884f1098cab680","type":"server-state-changed","z":"7aac5919e3c180d8","name":"Guest East","server":"f5ae54f9.da1538","version":4,"exposeToHomeAssistant":false,"haConfig":[{"property":"name","value":""},{"property":"icon","value":""}],"entityidfilter":"switch.nodered_1a2ef6b20053b8de","entityidfiltertype":"exact","outputinitially":false,"state_type":"str","haltifstate":"","halt_if_type":"str","halt_if_compare":"is","outputs":1,"output_only_on_state_change":true,"for":0,"forType":"num","forUnits":"minutes","ignorePrevStateNull":false,"ignorePrevStateUnknown":false,"ignorePrevStateUnavailable":false,"ignoreCurrentStateUnknown":false,"ignoreCurrentStateUnavailable":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"eventData"},{"property":"topic","propertyType":"msg","value":"","valueType":"triggerId"}],"x":100,"y":660,"wires":[["5dd0de2223bf5111"]]},{"id":"5dd0de2223bf5111","type":"switch","z":"7aac5919e3c180d8","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"},{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":110,"y":740,"wires":[["b96f042c395ac4ae"],["9693d2bfe1ef4ab8"]]},{"id":"1a2ef6b20053b8de","type":"ha-entity","z":"7aac5919e3c180d8","name":"Guest East","server":"f5ae54f9.da1538","version":2,"debugenabled":false,"outputs":2,"entityType":"switch","config":[{"property":"name","value":"Guest East"},{"property":"device_class","value":""},{"property":"icon","value":"mdi:lamp"},{"property":"unit_of_measurement","value":""},{"property":"state_class","value":""},{"property":"last_reset","value":""}],"state":"payload","stateType":"msg","attributes":[],"resend":true,"outputLocation":"payload","outputLocationType":"none","inputOverride":"allow","outputOnStateChange":true,"outputPayload":"$entity().state ? \"on\": \"off\"","outputPayloadType":"jsonata","x":110,"y":600,"wires":[[],[]]},{"id":"c674933f87249008","type":"api-call-service","z":"7aac5919e3c180d8","name":"Switch State to On","server":"f5ae54f9.da1538","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_on","areaId":[],"deviceId":[],"entityId":["switch.nodered_1a2ef6b20053b8de"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":590,"y":580,"wires":[[]]},{"id":"77608ded5c16b281","type":"mqtt in","z":"7aac5919e3c180d8","name":"","topic":"lights","qos":"0","datatype":"auto","broker":"c58cffc551afbb3b","nl":false,"rap":true,"rh":0,"inputs":0,"x":50,"y":800,"wires":[["97c58a77e0a2e320"]]},{"id":"97c58a77e0a2e320","type":"function","z":"7aac5919e3c180d8","name":"On-Off Splitter","func":"var payload=msg.payload\nif (payload==\"Second Bedroom East Turned ON\"){\n    return [msg,null];\n}\nif (payload==\"Second Bedroom East Turned OFF\"){\n    return [null,msg];\n}\n","outputs":2,"noerr":0,"initialize":"","finalize":"","libs":[],"x":120,"y":860,"wires":[[],[]]},{"id":"38f1338df4295073","type":"api-current-state","z":"7aac5919e3c180d8","name":"Current State East","server":"f5ae54f9.da1538","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.nodered_1a2ef6b20053b8de","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":420,"wires":[["44fccb13f11d7cf5"]]},{"id":"7792cdfed8a25450","type":"api-current-state","z":"7aac5919e3c180d8","name":"Current State East","server":"f5ae54f9.da1538","version":3,"outputs":1,"halt_if":"","halt_if_type":"str","halt_if_compare":"is","entity_id":"switch.nodered_1a2ef6b20053b8de","state_type":"str","blockInputOverrides":false,"outputProperties":[{"property":"payload","propertyType":"msg","value":"","valueType":"entityState"},{"property":"data","propertyType":"msg","value":"","valueType":"entity"}],"for":"0","forType":"num","forUnits":"minutes","override_topic":false,"state_location":"payload","override_payload":"msg","entity_location":"data","override_data":"msg","x":330,"y":500,"wires":[["f02601d1180898b5"]]},{"id":"44fccb13f11d7cf5","type":"switch","z":"7aac5919e3c180d8","name":"state is off","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"off","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":520,"wires":[["c674933f87249008"]]},{"id":"f02601d1180898b5","type":"switch","z":"7aac5919e3c180d8","name":"state is on","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"on","vt":"str"}],"checkall":"true","repair":false,"outputs":1,"x":570,"y":640,"wires":[["c687239f2846bf28"]]},{"id":"c687239f2846bf28","type":"api-call-service","z":"7aac5919e3c180d8","name":"Switch State to Off","server":"f5ae54f9.da1538","version":5,"debugenabled":false,"domain":"homeassistant","service":"turn_off","areaId":[],"deviceId":[],"entityId":["switch.nodered_1a2ef6b20053b8de"],"data":"","dataType":"json","mergeContext":"","mustacheAltTags":false,"outputProperties":[],"queue":"none","x":610,"y":700,"wires":[[]]},{"id":"b96f042c395ac4ae","type":"http request","z":"7aac5919e3c180d8","name":"Turn On","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://anne:YE2-5192@192.168.1.163/secure/lights.php?SecondEast=ON","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":280,"y":720,"wires":[[]]},{"id":"9693d2bfe1ef4ab8","type":"http request","z":"7aac5919e3c180d8","name":"Turn Off","method":"GET","ret":"txt","paytoqs":"ignore","url":"http://anne:YE2-5192@192.168.1.163/secure/lights.php?SecondEast=OFF","tls":"","persist":false,"proxy":"","authType":"","senderr":false,"x":280,"y":780,"wires":[[]]},{"id":"a2fc4bf6ee5f5fc9","type":"delay","z":"7aac5919e3c180d8","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":250,"y":160,"wires":[["b3df745c5e339837"]]},{"id":"c51c95a8f362de55","type":"delay","z":"7aac5919e3c180d8","name":"","pauseType":"delay","timeout":"400","timeoutUnits":"milliseconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":false,"allowrate":false,"outputs":1,"x":250,"y":200,"wires":[["eee18beb8ce08a81"]]}]