IOT2Homeassistant/temperature_threshold.json
[
    {
        "id": "201b7c75210118cf",
        "type": "tab",
        "label": "Temperature Threshold Triggers Switch",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "a74cf92ba005e324",
        "type": "server-state-changed",
        "z": "201b7c75210118cf",
        "name": "Temperature Above",
        "server": "d6a6341e2582fde3",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.temperature",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "70",
        "halt_if_type": "num",
        "halt_if_compare": "gt",
        "outputs": 2,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 80,
        "wires": [
            [
                "84b14087286c300e"
            ],
            []
        ]
    },
    {
        "id": "34ed24d47d229bf3",
        "type": "debug",
        "z": "201b7c75210118cf",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 450,
        "y": 80,
        "wires": []
    },
    {
        "id": "84b14087286c300e",
        "type": "api-current-state",
        "z": "201b7c75210118cf",
        "name": "Switch state off?",
        "server": "d6a6341e2582fde3",
        "version": 3,
        "outputs": 2,
        "halt_if": "off",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.tasmota",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "ON",
                "valueType": "str"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 140,
        "y": 160,
        "wires": [
            [
                "55d00d37d511984f"
            ],
            []
        ]
    },
    {
        "id": "36ce60cfa47b262d",
        "type": "inject",
        "z": "201b7c75210118cf",
        "name": "Turn off",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "OFF",
        "payloadType": "str",
        "x": 310,
        "y": 460,
        "wires": [
            [
                "55d00d37d511984f"
            ]
        ]
    },
    {
        "id": "55d00d37d511984f",
        "type": "Sonoff device",
        "z": "201b7c75210118cf",
        "mode": "0",
        "broker": "4d638a79ad1efd9f",
        "device": "S31Switch",
        "name": "Change Switch State",
        "onValue": "ON",
        "offValue": "OFF",
        "cmdPrefix": "cmnd",
        "statPrefix": "stat",
        "telePrefix": "tele",
        "x": 400,
        "y": 200,
        "wires": [
            [
                "34ed24d47d229bf3"
            ]
        ]
    },
    {
        "id": "4ef0009e4d504374",
        "type": "inject",
        "z": "201b7c75210118cf",
        "name": "Turn on",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "ON",
        "payloadType": "str",
        "x": 270,
        "y": 400,
        "wires": [
            [
                "55d00d37d511984f"
            ]
        ]
    },
    {
        "id": "c801112ba124cef5",
        "type": "server-state-changed",
        "z": "201b7c75210118cf",
        "name": "Temperature Below",
        "server": "d6a6341e2582fde3",
        "version": 4,
        "exposeToHomeAssistant": false,
        "haConfig": [
            {
                "property": "name",
                "value": ""
            },
            {
                "property": "icon",
                "value": ""
            }
        ],
        "entityidfilter": "sensor.temperature",
        "entityidfiltertype": "exact",
        "outputinitially": false,
        "state_type": "num",
        "haltifstate": "68",
        "halt_if_type": "num",
        "halt_if_compare": "lt",
        "outputs": 2,
        "output_only_on_state_change": false,
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "ignorePrevStateNull": false,
        "ignorePrevStateUnknown": false,
        "ignorePrevStateUnavailable": false,
        "ignoreCurrentStateUnknown": false,
        "ignoreCurrentStateUnavailable": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            },
            {
                "property": "data",
                "propertyType": "msg",
                "value": "",
                "valueType": "eventData"
            },
            {
                "property": "topic",
                "propertyType": "msg",
                "value": "",
                "valueType": "triggerId"
            }
        ],
        "x": 90,
        "y": 240,
        "wires": [
            [
                "6b2ce6f99e951d1b"
            ],
            []
        ]
    },
    {
        "id": "6b2ce6f99e951d1b",
        "type": "api-current-state",
        "z": "201b7c75210118cf",
        "name": "Switch state on?",
        "server": "d6a6341e2582fde3",
        "version": 3,
        "outputs": 2,
        "halt_if": "on",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "switch.tasmota",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "OFF",
                "valueType": "str"
            }
        ],
        "for": "0",
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 180,
        "y": 320,
        "wires": [
            [
                "55d00d37d511984f"
            ],
            []
        ]
    },
    {
        "id": "d6a6341e2582fde3",
        "type": "server",
        "name": "Everything Pi Home Assistant",
        "version": 2,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30"
    },
    {
        "id": "4d638a79ad1efd9f",
        "type": "mqtt-broker",
        "name": "localhost",
        "broker": "localhost",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "sessionExpiry": ""
    }
]