Rhasspy Voice Assistant/HA_rhasspy.json
[
    {
        "id": "cbbecd18792563f3",
        "type": "tab",
        "label": "Rhasspy Example",
        "disabled": false,
        "info": ""
    },
    {
        "id": "351db908d9f73185",
        "type": "http request",
        "z": "cbbecd18792563f3",
        "name": "text to speech",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://localhost:12101/api/text-to-speech",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "basic",
        "senderr": false,
        "x": 700,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "f2948fd21f5d1106",
        "type": "api-current-state",
        "z": "cbbecd18792563f3",
        "name": "Temperature",
        "server": "d6a6341e2582fde3",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.temperature",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 390,
        "y": 40,
        "wires": [
            [
                "923127952db33e74"
            ]
        ]
    },
    {
        "id": "923127952db33e74",
        "type": "change",
        "z": "cbbecd18792563f3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"temperature  \" & payload & \"  degrees Farenheit\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 100,
        "wires": [
            [
                "9b5feb94338f6462"
            ]
        ]
    },
    {
        "id": "9b5feb94338f6462",
        "type": "join",
        "z": "cbbecd18792563f3",
        "name": "",
        "mode": "custom",
        "build": "string",
        "property": "payload",
        "propertyType": "msg",
        "key": "topic",
        "joiner": "\"   \"",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "2",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 550,
        "y": 120,
        "wires": [
            [
                "351db908d9f73185",
                "53c61cc44918df5e"
            ]
        ]
    },
    {
        "id": "23a32e7d88ec712b",
        "type": "api-current-state",
        "z": "cbbecd18792563f3",
        "name": "Humidity",
        "server": "d6a6341e2582fde3",
        "version": 3,
        "outputs": 1,
        "halt_if": "",
        "halt_if_type": "str",
        "halt_if_compare": "is",
        "entity_id": "sensor.humidity",
        "state_type": "str",
        "blockInputOverrides": false,
        "outputProperties": [
            {
                "property": "payload",
                "propertyType": "msg",
                "value": "",
                "valueType": "entityState"
            }
        ],
        "for": 0,
        "forType": "num",
        "forUnits": "minutes",
        "override_topic": false,
        "state_location": "payload",
        "override_payload": "msg",
        "entity_location": "data",
        "override_data": "msg",
        "x": 380,
        "y": 140,
        "wires": [
            [
                "71faa29da4983ae5"
            ]
        ]
    },
    {
        "id": "71faa29da4983ae5",
        "type": "change",
        "z": "cbbecd18792563f3",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "\"humidity \" & payload & \"  percent\"",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 400,
        "y": 200,
        "wires": [
            [
                "9b5feb94338f6462"
            ]
        ]
    },
    {
        "id": "53c61cc44918df5e",
        "type": "debug",
        "z": "cbbecd18792563f3",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "9b1a056d20837c9b",
        "type": "websocket in",
        "z": "cbbecd18792563f3",
        "name": "Get intent from Rhasspy",
        "server": "be92d86017b04a70",
        "client": "",
        "x": 130,
        "y": 40,
        "wires": [
            [
                "4b8b3f752bec100c"
            ]
        ]
    },
    {
        "id": "4b8b3f752bec100c",
        "type": "switch",
        "z": "cbbecd18792563f3",
        "name": "Which intent?",
        "property": "intent.name",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "HA_Temperature",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "GetTime",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 160,
        "y": 120,
        "wires": [
            [
                "f2948fd21f5d1106",
                "23a32e7d88ec712b"
            ],
            []
        ]
    },
    {
        "id": "d6a6341e2582fde3",
        "type": "server",
        "name": "Everything Pi Home Assistant",
        "version": 2,
        "addon": false,
        "rejectUnauthorizedCerts": true,
        "ha_boolean": "y|yes|true|on|home|open",
        "connectionDelay": true,
        "cacheJson": true,
        "heartbeat": false,
        "heartbeatInterval": "30"
    },
    {
        "id": "be92d86017b04a70",
        "type": "websocket-listener",
        "path": "ws://localhost:12101/api/events/intent",
        "wholemsg": "true"
    }
]